@import "tailwindcss";
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@media print {
  @page {
    /* size: A4 portrait; */
    margin: 8mm; /* Tight margins to give maximum printable area */
  }

  html, body {
    height: auto !important;
    width: 100% !important;
    overflow: visible !important;
  }
}